.f-popup--age-verifier {
  padding: 0;
  align-items: center;
}
.f-popup--age-verifier__text {
  font-size: 1.8rem;
  line-height: 1.5;
}
.f-popup--age-verifier__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-popup--age-verifier__button-wrapper .btn {
  margin: 0 0.6rem;
}
@media (min-width: 1024px) {
  .f-popup--age-verifier__button-wrapper .btn {
    min-width: 16rem;
  }
}
.f-popup--age-verifier__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.f-popup--age-verifier__bg img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.f-popup--age-verifier__bg-blur img {
  filter: blur(0.4rem);
  transform: scale(1.03);
}
.f-popup--age-verifier .f-popup__content {
  width: auto;
  min-width: 500px;
  max-width: 500px;
}
@media (max-width: 639.98px) {
  .f-popup--age-verifier .f-popup__content {
    min-width: 100%;
  }
}
.f-popup--age-verifier .f-popup__inner {
  padding: 4rem;
}
.f-popup--age-verifier::before {
  background-color: var(--color-bg-1);
  opacity: 1;
}
@media (max-width: 639px) {
  .f-popup--age-verifier__title {
    font-size: 3rem;
    line-height: 1.2;
  }
  .f-popup--age-verifier .f-popup__inner {
    padding: 2.4rem;
  }
}
@media (max-width: 360px) {
  .f-popup--age-verifier .btn {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
