.f-contact-form__fields .form-field {
  margin: 0;
}
.f-contact-form__fields .form-submit button {
  margin-top: 1rem;
}
.f-contact-form-design-2 .form-control {
  border: 0;
  border-bottom: 0.1rem solid var(--color-border);
  padding: 0;
  box-shadow: none !important;
}
